<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>收货信息</title>
		<link rel="stylesheet" href="${request.static_url('hichao:templates/points_system/css/base.css')}" />
		<link rel="stylesheet" href="${request.static_url('hichao:templates/points_system/css/address.css')}" />
<script type="text/javascript" src="${request.static_url('hichao:templates/points_system/js/native_title.js')}" ></script>
			</head>
	<body>
		<form method="POST" action="address?access_token=${access_token}&goods_id=${goods_id}" class="formlist">
			<ul>
				<li>您的姓名：<input name="addressee" value="${data.addressee.decode('utf-8')}" type="text"  required="required" id="name" /></li>
				<li>手机号码：<input name="phone" value="${data.phone}" type="telephone"  required="required" id="telephone" /></li>
				<li>邮政编码：<input name="zip_code" value="${data.zip_code}" type="text"  required="required" id="code" /></li>
				<!--<li><input type="text" placeholder="省、市、区" required="required"/></li>
				<li><input type="text" placeholder="街道" required="required"/></li> -->
				<li class="end">详细地址：<textarea name="address"  required="required" id="address" />${data.address.decode('utf-8')}</textarea></li>
			</ul>
			<input class="btn" type="submit" value="保存信息并兑换" />
		</form>
<script type="text/javascript" src="${request.static_url('hichao:templates/points_system/js/jquery_2.1.1.js')}" ></script>
<script type="text/javascript" src="${request.static_url('hichao:templates/points_system/js/address.js')}" ></script>
	</body>
</html>
