<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>完善个人资料</title>
	
    <link rel="stylesheet" href="${request.static_url('hichao:templates/points_system/css/base.css')}" />
    <link rel="stylesheet" href="${request.static_url('hichao:templates/points_system/css/complete_data.css')}" />
    <script type="text/javascript" src="${request.static_url('hichao:templates/points_system/js/native_title.js')}" ></script>
</head>
<body>
	<header>
	 	<p class="tit">完善个人资料</p>
	 	<div class="box">
	 		<p class="tit1">奖励情况<span class="spc">+${points}</span></p>
	 		% if times_current == times_limit:
	 		<p>完成情况<span>${times_current}/${times_limit}(已完成)</span></p>
	 		% else:
	 		<p>完成情况<span>${times_current}/${times_limit}(还有${times_limit-times_current}项未完成)</span></p>
	 		%endif 
	 	</div>
	</header>
	<img src="${request.static_url('hichao:templates/points_system/img/howtodo.jpg')}" width="100%" alt="完善个人资料" class="pic" />
	<ul class="content">
		<li>1. 登录明星衣橱</li>
		<li>2. 在我的空间点击头像</li>
		<li>3. 点击头像后进入个人信息修改页面，将所有的内容填写完整</li>
		<li>注：只有第一次完善资料的时候可获得糖豆哦</li>
	</ul>	
	<footer>
		<a href="javascript:;" id="btn">去完善个人资料</a>	
	</footer>	
<script type="text/javascript" src="${request.static_url('hichao:templates/points_system/js/jquery_2.1.1.js')}" ></script>
<script type="text/javascript">
	$(function(){
		 $("#btn").click(function(){
		 	wodfan.doEvent(3, "string");	
		 })
	})
</script>
</body>
</html>
