<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>活跃达人补贴福利</title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="${request.static_url('hichao:templates/points_system/css/base.css')}" />
    <link rel="stylesheet" href="${request.static_url('hichao:templates/points_system/css/DailyActiveTalent.css')}" />
<script type="text/javascript" src="${request.static_url('hichao:templates/points_system/js/native_title.js')}" ></script>
</head>
<body>
	<header>
	 	<p class="tit">活跃达人补贴福利</p> 	
	 	<div class="box">
	 		<p class="tit1">奖励情况<span class="spc">+${points}</span></p>
            % if times_current == times_limit:
            <p>完成情况<span>${times_current}/${times_limit}(已完成)</span></p>
            % else:
            <p>完成情况<span>${times_current}/${times_limit}(还有${times_limit-times_current}项未完成)</span></p>
            %endif 
	 	</div>	
	</header>
	<img src="${request.static_url('hichao:templates/points_system/img/howtodo.jpg')}" width="100%" alt="完善个人资料" class="pic" />	
	<ul class="content">
		<li>1. 明星衣橱每周对前50名活跃达人提供相应的糖豆奖励，奖励情况如下：</li>
		<li class="rank"> 第1名：108糖豆 <br/>
             第2名：88糖豆  <br/>
             第3名：68糖豆  <br/>
             第4-10名：50糖豆 <br/>
             第11-30名：40糖豆<br/>
             第31-50名：30糖豆
            </li>
		<li>2. 每周二13:00达人排名更新后，工作人员将统一发放</li>
		
	</ul>	
	<!-- <footer>
		<a href="javascript:;">去回帖</a>	
	</footer>	 -->					
</body>
</html>
