<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>回复帖子</title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="${request.static_url('hichao:templates/points_system/css/base.css')}" />
    <link rel="stylesheet" href="${request.static_url('hichao:templates/points_system/css/DailyReplyThread.css')}" />
<script type="text/javascript" src="${request.static_url('hichao:templates/points_system/js/native_title.js')}" ></script>
</head>
<body>
	<header>
	 	<p class="tit">今日回帖</p> 	
	 	<div class="box">
	 		<p class="tit1">奖励情况<span class="spc">+${points}</span></p>
            % if times_current == times_limit:
            <p>完成情况<span>${times_current}/${times_limit}(已完成)</span></p>
            % else:
            <p>完成情况<span>${times_current}/${times_limit}(还有${times_limit-times_current}项未完成)</span></p>
            %endif
	 	</div>	
	</header>
	<img src="${request.static_url('hichao:templates/points_system/img/howtodo.jpg')}" width="100%" alt="完善个人资料" class="pic" />	
	<ul class="content">
		<li>1. 登录明星衣橱</li>
		<li>2. 进入布拉格版块</li>
		<li>3. 对喜欢的帖子进行评论回复</li>
		<li>4.一次评论成功即可增加1颗糖豆，一天最多增加10颗</li>	
	</ul>	
	<footer>
		<a href="javascript:;" id="btn">去回帖</a>	
	</footer>			
<script type="text/javascript" src="${request.static_url('hichao:templates/points_system/js/jquery_2.1.1.js')}" ></script>
<script type="text/javascript">
	$(function(){
		 $("#btn").click(function(){
		 	wodfan.doEvent(2, "string");	
		 })
	})
</script>

</body>
</html>
