<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>帖子被推荐到APP吊牌</title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="${request.static_url('hichao:templates/points_system/css/base.css')}" />
    <link rel="stylesheet" href="${request.static_url('hichao:templates/points_system/css/DailyToipcInAppHomeDrop.css')}" />
<script type="text/javascript" src="${request.static_url('hichao:templates/points_system/js/native_title.js')}" ></script>
</head>
<body>
	<header>
	 	<p class="tit">帖子被推荐到APP吊牌</p> 	
	 	<div class="box">
	 		<p class="tit1">奖励情况<span class="spc">+${points}</span></p>
            % if times_current == times_limit:
            <p>完成情况<span>${times_current}/${times_limit}(已完成)</span></p>
            % else:
            <p>完成情况<span>${times_current}/${times_limit}(还有${times_limit-times_current}项未完成)</span></p>
            %endif  
	 	</div>	
	</header>
	<img src="${request.static_url('hichao:templates/points_system/img/howtodo.jpg')}" width="100%" alt="完善个人资料" class="pic" />	
	<ul class="content">
		<li>1. 登录明星衣橱</li>
		<li>2. 去布拉格发布优质帖子，管理员会根据帖子推荐到	app吊牌的要求审核您的帖子，审核成功后您的帖子就会被推荐到首页的吊牌哦</li>
		<li>3. 帖子被推荐到吊牌后即可获得糖豆奖励</li>
		<li>4. 每被推荐一次奖励10颗糖豆，一天最多奖励10颗
</li>	
	</ul>	
	<!-- <footer>
		<a href="javascript:;">去回帖</a>	
	</footer>	 -->					
</body>
</html>
