<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>赚糖豆</title>
		<link rel="stylesheet" href="${request.static_url('hichao:templates/points_system/css/base.css')}" />
		<link rel="stylesheet" href="${request.static_url('hichao:templates/points_system/css/home.css')}" />
        <script type="text/javascript" src="${request.static_url('hichao:templates/points_system/js/native_title.js')} ></script>
	</head>
	<body>
		<header>
			<!--<div class="head">
				<img src="${user_avatar}" width="65" height="65" title="个人头像" alt="个人头像"/>
			</div>
			<p class="name">${user_name}</p>
			-->
			<p class="msg cf">
			    <img src="${request.static_url('hichao:templates/points_system/img/candy_07.png')}" width="9%" /><span class="cc">${user_points}</span>
				
				
 				<!-- <li class="word1"><span class="icon1"></span>美搭达人</li>
				<li class="word2"><span class="icon2"></span>管理员</li>  --> 
				<!-- <li class="word3"><span class="icon3"></span>${user_points}</li> -->
			</p>
			<a class="change" href="http://api.beta.hichao.com/ong/points_system/goods_list?access_token=${access_token}&offset=0&limit=10">去兑换<img src="${request.static_url('hichao:templates/points_system/img/arrow_write_2.png')}" width="7%" /></a>
		</header>
		% if DailyAttendance.points == 0:
		<a href="home?access_token=${access_token}&attend=1">
			<img token="${access_token}" src="${request.static_url('hichao:templates/points_system/img/sign2.gif')}" width="100%" title="每日签到" class="daily" id="sign" />
		</a>
		% else:
			<img  token="${access_token} "src="${request.static_url('hichao:templates/points_system/img/sign1.gif')}" width="100%" title="每日签到" class="daily" id="sign" />
		% endif
		<p class="tit">糖豆获取方法</p>
		<ul class="other">
			
			% if ImproveRewarding.points == 0:
				<li _id="0"><a href="complete_data?points=${ImproveRewarding.points}&points_limit=${ImproveRewarding.points_limit}">完善个人资料<span><span class="result red">未完成<img src=${request.static_url('hichao:templates/points_system/img/arrow_2.png')} width="9%" /></span><span class="process">+${ImproveRewarding.points}/${ImproveRewarding.points_limit}</span></a></li>
			% elif ImproveRewarding.points == ImproveRewarding.points_limit:
				<li _id="0"><a href="complete_data?points=${ImproveRewarding.points}&points_limit=${ImproveRewarding.points_limit}">完善个人资料<span><span class="result">已完成<img src=${request.static_url('hichao:templates/points_system/img/arrow_2.png')} width="9%" /></span><span class="process">+${ImproveRewarding.points}/${ImproveRewarding.points_limit}</span></a></li>
			% else:
				<li _id="0"><a href="complete_data?points=${ImproveRewarding.points}&points_limit=${ImproveRewarding.points_limit}">完善个人资料<span><span class="result green">已获得<img src=${request.static_url('hichao:templates/points_system/img/arrow_2.png')} width="9%" /></span><span class="process">+${ImproveRewarding.points}/${ImproveRewarding.points_limit}</span></a></li>
			% endif
			
			<!--
			 % if DailyAttendance.points == 0:
				<li>每日签到<span><span class="result red">未获得</span><span>+${DailyAttendance.points}/${DailyAttendance.points_limit}</span></li>
			% elif DailyAttendance.points == DailyAttendance.points_limit:
				<li>每日签到<span><span class="result">已完成</span><span>+${DailyAttendance.points}/${DailyAttendance.points_limit}</span></li>
			% else:
				<li>每日签到<span><span class="result green">未完成</span><span>+${DailyAttendance.points}/${DailyAttendance.points_limit}</span></li>
			% endif 
			-->
			
			% if DailyCreateThread.points == 0:
				<li _id="${DailyCreateThread.period_activity}"><a href="DailyCreateThread?points=${DailyCreateThread.points}&points_single=${DailyCreateThread.points_single}&points_limit=${DailyCreateThread.points_limit}">发表帖子<span><span class="result red">未完成<img src=${request.static_url('hichao:templates/points_system/img/arrow_2.png')} width="9%"/></span><span class="process">+${DailyCreateThread.points}/${DailyCreateThread.points_limit}</span></a></li>
			% elif DailyCreateThread.points == DailyCreateThread.points_limit:
				<li _id="${DailyCreateThread.period_activity}"><a href="DailyCreateThread?points=${DailyCreateThread.points}&points_single=${DailyCreateThread.points_single}&points_limit=${DailyCreateThread.points_limit}">发表帖子<span><span class="result">已完成<img src=${request.static_url('hichao:templates/points_system/img/arrow_2.png')} width="9%"/></span><span class="process">+${DailyCreateThread.points}/${DailyCreateThread.points_limit}</span></a></li>
			% else:
				<li _id="${DailyCreateThread.period_activity}"><a href="DailyCreateThread?points=${DailyCreateThread.points}&points_single=${DailyCreateThread.points_single}&points_limit=${DailyCreateThread.points_limit}">发表帖子<span><span class="result green">已获得<img src=${request.static_url('hichao:templates/points_system/img/arrow_2.png')} width="9%" /></span><span class="process">+${DailyCreateThread.points}/${DailyCreateThread.points_limit}</span></a></li>
			% endif
			
			% if DailyReplyThread.points == 0:
				<li class="quitline" _id="${DailyReplyThread.period_activity}"><a href="DailyReplyThread?points=${DailyReplyThread.points}&points_single=${DailyReplyThread.points_single}&points_limit=${DailyReplyThread.points_limit}">回复帖子<span><span class="result red">未完成<img src=${request.static_url('hichao:templates/points_system/img/arrow_2.png')} width="9%"/></span><span class="process">+${DailyReplyThread.points}/${DailyReplyThread.points_limit}</span></a></li>
			% elif DailyReplyThread.points == DailyReplyThread.points_limit:
				<li class="quitline" _id="${DailyReplyThread.period_activity}"><a href="DailyReplyThread?points=${DailyReplyThread.points}&points_single=${DailyReplyThread.points_single}&points_limit=${DailyReplyThread.points_limit}">回复帖子<span><span class="result">已完成<img src=${request.static_url('hichao:templates/points_system/img/arrow_2.png')} width="9%"/></span><span class="process">+${DailyReplyThread.points}/${DailyReplyThread.points_limit}</span></a></li>
			% else:
				<li class="quitline" _id="${DailyReplyThread.period_activity}"><a href="DailyReplyThread?points=${DailyReplyThread.points}&points_single=${DailyReplyThread.points_single}&points_limit=${DailyReplyThread.points_limit}">回复帖子<span><span class="result green">已获得<img src=${request.static_url('hichao:templates/points_system/img/arrow_2.png')} width="9%"/></span><span>+${DailyReplyThread.points}/${DailyReplyThread.points_limit}</span></a></li>
			% endif
		
		</ul>
		<div class="block"></div>
		<ul class="other another">
			
			% if DailyTopicSelected.points == 0:
				<li _id="${DailyTopicSelected.period_activity}"><a href="DailyTopicSelected?points=${DailyTopicSelected.points}&points_single=${DailyTopicSelected.points_single}&points_limit=${DailyTopicSelected.points_limit}">帖子被加精华<span><span class="result red">未完成<img src=${request.static_url('hichao:templates/points_system/img/arrow_2.png')} width="9%"/></span><span class="process">+${DailyTopicSelected.points}/${DailyTopicSelected.points_limit}</span></a></li>
			% elif DailyTopicSelected.points == DailyTopicSelected.points_limit:
				<li _id="${DailyTopicSelected.period_activity}"><a href="DailyTopicSelected?points=${DailyTopicSelected.points}&points_single=${DailyTopicSelected.points_single}&points_limit=${DailyTopicSelected.points_limit}">帖子被加精华<span><span class="result">已完成<img src=${request.static_url('hichao:templates/points_system/img/arrow_2.png')} width="9%"/></span><span class="process">+${DailyTopicSelected.points}/${DailyTopicSelected.points_limit}</span></a></li>
			% else:
				<li _id="${DailyTopicSelected.period_activity}"><a href="DailyTopicSelected?points=${DailyTopicSelected.points}&points_single=${DailyTopicSelected.points_single}&points_limit=${DailyTopicSelected.points_limit}">帖子被加精华<span><span class="result green">已获得<img src=${request.static_url('hichao:templates/points_system/img/arrow_2.png')} width="9%"/></span><span class="process">+${DailyTopicSelected.points}/${DailyTopicSelected.points_limit}</span></a></li>
			% endif
			
			% if DailyTopicInForumHome.points == 0:
				<li _id="${DailyTopicInForumHome.period_activity}"><a href="DailyTopicInForumHome?points=${DailyTopicInForumHome.points}&points_single=${DailyTopicInForumHome.points_single}&points_limit=${DailyTopicInForumHome.points_limit}">帖子被推荐到社区首页<span><span class="result red">未完成<img src=${request.static_url('hichao:templates/points_system/img/arrow_2.png')} width="9%"/></span><span class="process">+${DailyTopicInForumHome.points}/${DailyTopicInForumHome.points_limit}</span></a></li>
			% elif DailyTopicInForumHome.points == DailyTopicInForumHome.points_limit:
				<li _id="${DailyTopicInForumHome.period_activity}"><a href="DailyTopicInForumHome?points=${DailyTopicInForumHome.points}&points_single=${DailyTopicInForumHome.points_single}&points_limit=${DailyTopicInForumHome.points_limit}">帖子被推荐到社区首页<span><span class="result">已完成<img src=${request.static_url('hichao:templates/points_system/img/arrow_2.png')} width="9%"/></span><span class="process">+${DailyTopicInForumHome.points}/${DailyTopicInForumHome.points_limit}</span></a></li>
			% else:
				<li _id="${DailyTopicInForumHome.period_activity}"><a href="DailyTopicInForumHome?points=${DailyTopicInForumHome.points}&points_single=${DailyTopicInForumHome.points_single}&points_limit=${DailyTopicInForumHome.points_limit}">帖子被推荐到社区首页<span><span class="result green">已获得<img src=${request.static_url('hichao:templates/points_system/img/arrow_2.png')} width="9%"/></span><span class="process">+${DailyTopicInForumHome.points}/${DailyTopicInForumHome.points_limit}</span></a></li>
			% endif
			
			% if DailyToipcInAppHomeDrop.points == 0:
				<li _id="${DailyToipcInAppHomeDrop.period_activity}"><a href="DailyToipcInAppHomeDrop?points=${DailyToipcInAppHomeDrop.points}&points_single=${DailyToipcInAppHomeDrop.points_single}&points_limit=${DailyToipcInAppHomeDrop.points_limit}">帖子被推荐到APP吊牌<span><span class="result red">未完成<img src=${request.static_url('hichao:templates/points_system/img/arrow_2.png')} width="9%"/></span><span class="process">+${DailyToipcInAppHomeDrop.points}/${DailyToipcInAppHomeDrop.points_limit}</span></a></li>
			% elif DailyToipcInAppHomeDrop.points == DailyToipcInAppHomeDrop.points_limit:
				<li _id="${DailyToipcInAppHomeDrop.period_activity}"><a href="DailyToipcInAppHomeDrop?points=${DailyToipcInAppHomeDrop.points}&points_single=${DailyToipcInAppHomeDrop.points_single}&points_limit=${DailyToipcInAppHomeDrop.points_limit}">帖子被推荐到APP吊牌<span><span class="result">已完成<img src=${request.static_url('hichao:templates/points_system/img/arrow_2.png')} width="9%"/></span><span>+${DailyToipcInAppHomeDrop.points}/${DailyToipcInAppHomeDrop.points_limit}</span></a></li>
			% else:
				<li _id="${DailyToipcInAppHomeDrop.period_activity}"><a href="DailyToipcInAppHomeDrop?points=${DailyToipcInAppHomeDrop.points}&points_single=${DailyToipcInAppHomeDrop.points_single}&points_limit=${DailyToipcInAppHomeDrop.points_limit}">帖子被推荐到APP吊牌<span><span class="result green">已获得<img src=${request.static_url('hichao:templates/points_system/img/arrow_2.png')} width="9%"/></span><span class="process">+${DailyToipcInAppHomeDrop.points}/${DailyToipcInAppHomeDrop.points_limit}</span></a></li>
			% endif
			
			% if DailyActiveTalent.points == 0:
				<li class="quitline" _id="${DailyActiveTalent.period_activity}"><a href="DailyActiveTalent?points=${DailyActiveTalent.points}&points_single=${DailyActiveTalent.points_single}&points_limit=${DailyActiveTalent.points_limit}">活跃达人补贴福利<span><span class="result red">未完成<img src=${request.static_url('hichao:templates/points_system/img/arrow_2.png')} width="9%"/></span><span class="process">+${DailyActiveTalent.points}/${DailyActiveTalent.points_limit}</span></a></li>
			% elif DailyActiveTalent.points == DailyActiveTalent.points_limit:
				<li class="quitline" _id="${DailyActiveTalent.period_activity}"><a href="DailyActiveTalent?points=${DailyActiveTalent.points}&points_single=${DailyActiveTalent.points_single}&points_limit=${DailyActiveTalent.points_limit}">活跃达人补贴福利<span><span class="result">已完成<img src=${request.static_url('hichao:templates/points_system/img/arrow_2.png')} width="9%"/></span><span class="process">+${DailyActiveTalent.points}/${DailyActiveTalent.points_limit}</span></a></li>
			% else:
				<li class="quitline" _id="${DailyActiveTalent.period_activity}"><a href="DailyActiveTalent?points=${DailyActiveTalent.points}&points_single=${DailyActiveTalent.points_single}&points_limit=${DailyActiveTalent.points_limit}">活跃达人补贴福利<span><span class="result green">已获得<img src=${request.static_url('hichao:templates/points_system/img/arrow_2.png')} width="9%"/></span><span class="process">+${DailyActiveTalent.points}/${DailyActiveTalent.points_limit}</span></a></li>
			% endif
			
		</ul>
		<a href="http://api.beta.hichao.com/ong/points_system/payments_list?access_token=${access_token}&offset=0&limit=15"><p class="tit tit1 tit2">糖豆收支记录<img src="${request.static_url('hichao:templates/points_system/img/arrow_1.png')}" width="2%" /></p></a>
    <script type="text/javascript" src="${request.static_url('hichao:templates/points_system/js/jquery_2.1.1.js')}" ></script>
    <script type="text/javascript" src="${request.static_url('hichao:templates/points_system/js/home.js')}" ></script>
		
	</body>
</html>
