<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>兑换</title>
	<link rel="stylesheet" href="${request.static_url('hichao:templates/points_system/css/base.css')}" />
	<style type="text/css">
		body{background: #f2f3ee; font-family: \5FAE\8F6F\96C5\9ED1; font-size: 15px;
		}
		p{text-align:center; height: 116px; line-height: 116px; }
		a{display: block; height: 40px; line-height: 40px; text-align: center; background: #fd5d9d; color: #fff; text-decoration: none; border-radius: 4px; width:92%; margin:0 4%;}


	</style>
</head>
<body>
	<p>恭喜，您的兑换提交成功！</p>	
	<a href="/ong/points_system/goods_list?access_token=${access_token}&offset=0&limit=10">继续逛逛</a>
</body>
</html>
