<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>我兑换的</title>
		<link rel="stylesheet" href="${request.static_url('hichao:templates/points_system/css/base.css')}" />
		<link rel="stylesheet" href="${request.static_url('hichao:templates/points_system/css/order_list.css')}" />
<script type="text/javascript" src="${request.static_url('hichao:templates/points_system/js/native_title.js')}" ></script>
	</head>
	<body>
		<ul class="main-content">
			<!-- <li class="cf">
				<img src="img/exchange01.jpg" alt="魔法世家面膜"  title="魔法世家面膜" height="85" width="85"/>
				<dl>
					<dt>魔法世家面膜</dt>
					<dd class="cost">消耗：1200糖豆</dd>
					<dd>状态：<span>已提交</span></dd>
				</dl>
			</li>
			<div class="line"></div>
			<li>
				<img src="img/exchange02.jpg" alt="马卡龙系列龙猫充电器"  title="马卡龙系列龙猫充电器" height="85" width="85"/>
				<dl>
					<dt>马卡龙系列龙猫充电器</dt>
					<dd class="cost">消耗：1200糖豆</dd>
					<dd>状态：已发货（请注意查收）</dd>
				</dl>
			</li>
			<div class="line"></div> -->
		</ul>
<script type="text/javascript" src="${request.static_url('hichao:templates/points_system/js/jquery_2.1.1.js')}" ></script>
<script type="text/javascript" src="${request.static_url('hichao:templates/points_system/js/order_list.js')}" ></script>
	</body>
</html>
