<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>糖豆收支记录</title>
    <link rel="stylesheet" href="${request.static_url('hichao:templates/points_system/css/base.css')}" />
    <link rel="stylesheet" href="${request.static_url('hichao:templates/points_system/css/payments_list.css')}" />
    <script type="text/javascript" src="${request.static_url('hichao:templates/points_system/js/native_title.js')}" ></script>
    
</head>
<body>
	<ul class="main-content" id="listing">
        
	</ul>
<script type="text/javascript" src="${request.static_url('hichao:templates/points_system/js/jquery_2.1.1.js')}" ></script>
<script type="text/javascript" src="${request.static_url('hichao:templates/points_system/js/payments_list.js')}"></script>
</body>
</html>
