# -*- coding:utf-8 -*-
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>${data['title']}</title>
    <meta name="viewport" content=" initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="http://fed.pimg.cn/dist/css/app/webview/anchor_topic.css">
    <style>
        #crop-area{position:relative; width:100%;}
        #crop-area img{display:block; width:100%;}
        #crop-area a{position:absolute;display:block;}
    </style>
</head>
<body data-share="${data['share']}">
    <div id="crop-area">
        %for image in data['images']:
        <img src="${image['url']}" />
        %endfor

        %for anchor in data['anchors']:
        <a href="" data-action="${anchor['action']}" style="left:${anchor['x']};top:${anchor['y']};width:${anchor['width']};height:${anchor['height']};"></a>
        %endfor
    </div>
    %if data['tags']:
    <div class="tags clearfix">
        <span class="spc-title">相关</span>
        <div class="tags-details">
        %for tag in data['tags']:
            <a href="" data-action="${tag['action']}">${tag['tag']}</a>
        %endfor
        </div>
    </div>
    %endif
    <div class="comments" id="${data['id']}" type="theme" gf="${data['gf']}" gv="${data['gv']}"></div>
    <script src="http://fed.pimg.cn/dist/js/app/webview/anchor_topic.js"></script>
</body>
</html>

