html{background: #fff;}
body{font-family: \5FAE\8F6F\96C5\9ED1; overflow-x: hidden; font-size: 15px;}
ul li{padding:0 10px; height: 40px; line-height: 40px; border-top:1px solid #DCDDD9; color: #c7c7c9;}
ul li input{border: none; height: 40px; width: 70%;}
input::-webkit-input-placeholder{font-size: 14px;}

textarea{margin-top:14px; border: none; vertical-align: middle; width:70%; }
textarea::-webkit-input-placeholder{font-size: 15px;}
.btn{display:block; margin:240px auto; width: 40%; height: 40px; line-height: 40px; border-radius: 50px; background: #ff3799; text-align: center; color: #fff; font-size: 16px;}
/*.btn:hover{background: #ff3799; outline: none;}*/
a,button,input{ -webkit-tap-highlight-color: rgba(255, 255, 255, 0); -webkit-user-modify: read-plaintext-only;}
input{border: none;}
input,textarea{outline:none;}
