html{background: #F2F3EE;}
body{font-family: \5FAE\8F6F\96C5\9ED1; }
header{padding: 0 14px; margin-bottom: 20px; height: 104px; background: #fff; border-bottom: 2px solid #e6e7e3; }
header p.tit{height: 40px; border-bottom: 1px dotted #eaeaea; font-size: 14px; color: #ff4c90; line-height: 40px; }

.box p{ font-size: 12px; color: #5e5e5e; margin-top: 10px; }
/*  .box p.tit1{margin-top: 16px;}*/
.box span{margin-left: 10px;}
.box span.spc{color: #ff4c90;}
.pic{display: block;}
ul.content{padding:0 12px; font-size: 12px; color: #5e5e5e; height: 160px; background: #fff; border-bottom: 1px solid #efefed;}
ul.content li{padding-top:14px;}
footer{display:block;  height: 60px; background: #fff; border-top: 2px solid #eaeaea; position: absolute; bottom: 0; width: 100%;}
footer a{display: block; margin: 10px; height: 40px; color: #fff; background: #ff4c90; font-size: 16px; border-radius: 10px; text-align: center; line-height: 40px;}
