# -*- coding:utf-8 -*-
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>会员</title>
    <link rel="stylesheet" type="text/css" href="http://fed.pimg.cn/css/app/wap/h5_web/member.css?_=2">
</head>
<body>
    <div class="m-content">
        <div class="m-header">
            <ul class="m-pic clearfix">
                %if data['user']['rank'] == 0:
                <li class="member-pic-v0">
                    <p class="m-pic-contain">
                        <img src="${data['user']['userAvatar']}" title="用户头像" alt="用户头像" width="100%" />
                    </p>
                    <!--<svg id="svgForStroke" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="40" cy="40" r="39" stroke-width="2"/>
                    </svg>-->
                    <p class="level-contain">
                        <img src="http://fed.pimg.cn/images/wap/h5_web/member-v0.png" title="用户等级" alt="用户等级" width="100%" />
                    </p>
                </li>
                %elif data['user']['rank'] == 1:
                <li class="member-pic-v1">
                    <p class="m-pic-contain">
                        <img src="${data['user']['userAvatar']}" title="用户头像" alt="用户头像" width="100%" />
                    </p>
                    <!--<svg id="svgForStroke" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="40" cy="40" r="39" stroke-width="2"/>
                    </svg>-->
                    <p class="level-contain">
                        <img src="http://fed.pimg.cn/images/wap/h5_web/member-v1.png" title="用户等级" alt="用户等级" width="100%" />
                    </p>
                </li>
                %elif data['user']['rank'] == 2:
                <li class="member-pic">
                    <p class="m-pic-contain">
                        <img src="${data['user']['userAvatar']}" title="用户头像" alt="用户头像" width="100%" />
                    </p>
                    <!--<svg id="svgForStroke" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="40" cy="40" r="39" stroke-width="2"/>
                    </svg>-->
                    <p class="level-contain">
                        <img src="http://fed.pimg.cn/images/wap/h5_web/member-v2.png" title="用户等级" alt="用户等级" width="100%" />
                    </p>
                </li>
                %elif data['user']['rank'] == 3:
                <li class="member-pic-v3">
                    <p class="m-pic-contain">
                        <img src="${data['user']['userAvatar']}" title="用户头像" alt="用户头像" width="100%" />
                    </p>
                    <!--<svg id="svgForStroke" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="40" cy="40" r="39" stroke-width="2"/>
                    </svg>-->
                    <p class="level-contain">
                        <img src="http://fed.pimg.cn/images/wap/h5_web/member-v3.png" title="用户等级" alt="用户等级" width="100%" />
                    </p>
                </li>
                %elif data['user']['rank'] == 4:
                <li class="member-pic-v3">
                    <p class="m-pic-contain">
                            <img src="${data['user']['userAvatar']}" title="用户头像" alt="用户头像" width="100%" />
                    </p>
                    <!--<svg id="svgForStroke" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="40" cy="40" r="39" stroke-width="2"/>
                    </svg>-->
                    <p class="level-contain">
                            <img src="http://fed.pimg.cn/images/wap/h5_web/member-v4.png" title="用户等级" alt="用户等级" width="100%" />
                    </p>
                </li>
                %endif
                <li class="message">
                    <p class="name">${data['user']['username']}</p>
                    <p class="level">当前级别${data['user']['rankStr']}</p>
                    <p class="rate">
                        <span>${data['user']['rankStr']}</span>
                        %if data['user']['rank'] < 4:
                            <span class="figure">
                                <i style="width:${data['user']['rankRate']};"></i>
                            </span>
                            <span>${data['user']['nextRankStr']}</span>
                        %endif
                    </p>
                </li>
                <li class="rule">
                    <a href="http://fed.pimg.cn/templates/wap/h5_web/level_rule.html">级别规则 ></a>
                </li>
            </ul>
            <div class="m-cost">
                %if data['user']['hasDemoted']:
                    <p>根据保级规则，您在同一自然季度内消费满300元，恢复${data['user']['nextRankStr']}级别。</p>
                    <p class="small-size">(付款生效15天后金额计入)</p>
                %else:
                    %if data['user']['rank'] == 0:
                    <p>在商城消费一次即可升入V1级别</p>
                    <p class="small-size">(付款生效15天后金额计入)</p>
                    %elif data['user']['rank'] < 4:
                    <p>您已累计消费<span> ${data['user']['totalPaid']} </span>元</p>
                    <p>再消费<span> ${data['user']['needPaidNextRank']} </span>元即可升入<span> ${data['user']['nextRankStr']} </span>级别</p>
                    <p class="small-size">(付款生效15天后金额计入)</p>
                    %else:
                    <p>您已累计消费<span> ${data['user']['totalPaid']} </span>元</p>
                    <p>已达到最高级别</p>
                    %endif
                %endif
            </div>
        </div>
        <div class="line-break">
            <img src="http://fed.pimg.cn/images/wap/h5_web/line.png" title="line" alt="line" width="100%" />
        </div>
        %for sku in data['skus']:
        <ul class="m-member-product clearfix" data-action="${sku['action']}">
            <li class="product-img">
                <img src="${sku['picUrl']}" title="商品详情" alt="商品详情" width="100%" />
                <p>${sku['discount']}</p>
            </li>
            <li class="product-des clearfix">
                <p class="p-title">${sku['title']}</p>
                %if data['user']['rank'] == 0:
                <dl class="spc-v0">
                    <dt>v0</dt>
                    <dd class="price spc">￥${sku['originPrice']}</dd>
                </dl>
                %elif data['user']['rank'] == 1:
                <dl class="spc-v0">
                    <dt>v1</dt>
                    <dd class="price spc">￥${sku['discountPrice']}</dd>
                    <dd class="line-through">￥${sku['originPrice']}</dd>
                </dl>
                %elif data['user']['rank'] == 2:
                <dl class="grey">
                    <dt>v1</dt>
                    <dd class="price">￥${sku['lowRankDiscountPrice']}</dd>
                    <dd class="line-through">￥${sku['originPrice']}</dd>
                </dl>
                <dl class="pink">
                    <dt>v2</dt>
                    <dd class="price spc">￥${sku['discountPrice']}</dd>
                    <dd class="line-through">￥${sku['originPrice']}</dd>
                </dl>
                %elif data['user']['rank'] == 3:
                <dl class="grey">
                    <dt>v2</dt>
                    <dd class="price">￥${sku['lowRankDiscountPrice']}</dd>
                    <dd class="line-through">￥${sku['originPrice']}</dd>
                </dl>
                <dl class="pink">
                    <dt>v3</dt>
                    <dd class="price spc">￥${sku['discountPrice']}</dd>
                    <dd class="line-through">￥${sku['originPrice']}</dd>
                </dl>
                %elif data['user']['rank'] == 4:
                <dl class="grey">
                        <dt>v3</dt>
                        <dd class="price">￥${sku['lowRankDiscountPrice']}</dd>
                        <dd class="line-through">￥${sku['originPrice']}</dd>
                </dl>
                <dl class="pink">
                        <dt>v4</dt>
                        <dd class="price spc">￥${sku['discountPrice']}</dd>
                        <dd class="line-through">￥${sku['originPrice']}</dd>
                </dl>
                %endif
            </li>
        </ul>
        %endfor
        <script src="http://fed.pimg.cn/js/gallery/require-zepto.js"></script>
        <script src="http://fed.pimg.cn/js/dist/app/wap/h5_web/member.js?_=2"></script>
</body>
</html>
